# Supabase Backend Configuration
# Replace with your actual Supabase project URL and Anon Key from your Supabase Dashboard:
# Dashboard -> Project Settings -> API

EXPO_PUBLIC_SUPABASE_URL=url
EXPO_PUBLIC_SUPABASE_ANON_KEY= public key
